/* import partials */
@import "global";
@import "mediaMixin";
@import "scalableType";
@import "cards";

/* header */
.title {
     color: #fff;    
}

/* colour cards */
.contentRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;   
    
}




